<p id="notice"><%= notice %></p>

<h4>
  <%= @product.name %>
</h4>

<p class="products_description">
  <%= image_tag(@product.image_url, size: "500x500", class: "img-responsive p_img") %>
</p>

<p class="products_description">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
