<h4>
  <%= @product.name %>
</h4>

  <%= image_tag(@product.image_url, size: "400x400", class: "img-responsive img-thumbnail p_img") %>

<p class="products_description">
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p class="products_price">
  <strong>Price: €</strong>
  <%= @product.price %>
</p>
<p>Average Rating:
  <div class="rated" data-score="<%= @product.average_rating %>"></div>
</p>

<hr>

<%= render 'new_comment' %>
<%= render 'comments' %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
