<!DOCTYPE html>
<html>
<head>
  <title>Colors of Chiapas</title>

  <!-- Bootstap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Mobile View -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

</head>

<body>

  <!-- Navbar (collapsed) -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/static_pages/landing_page">
          Colors of Chiapas
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Contact", { controller: "static_pages", action: "contact" } %></li>
          <li><%= link_to "Products", { controller: "products", action: "index" } %><span class="sr-only">(current)</span></li>
          <li><%= link_to "About", { controller: "static_pages", action: "about" } %></li>
        </ul>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
    <%= yield %>
  </div> <!-- end container -->

  <footer class="footer">
    <div class="container-fluid">
      <p>&copy; Eliane 2017</p>
    </div>
  </footer>
</body>
</html>
